doctype html

html
  head
  title= htmlWebpackPlugin.options.title
  body
    app= `Loading...${__PLATFORM__}`

    script.
      require("module").globalPaths.push(__dirname)

    for chunk in htmlWebpackPlugin.files.chunks
      script(src=`${chunk.entry}`)

    if __DEV_SERVER__
      script(src=`/webpack-dev-server.js`)
